/* Navbar */

:root {
  --header-height: 50px;
  --header-width-mobile: 250px;
}

hr.navHR {
  margin-left: 10px;
  margin-right: 10px;
}

nav.mainNav {
  background: var(--accent);
  inset: unset;
  position: absolute;
  top: var(--header-height);
  font-size: 11pt;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  padding: 0;
}

nav.mainNav a {
  color: var(--accent_foreground);
  background: var(--accent_1);
  border-radius: 10px;
  display: block;
  margin: 10px 8px 10px 8px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s;
  overflow: hidden;
}

nav.mainNav a:hover {
  text-decoration: none;
  background: var(--accent_2);
}

nav.mainNav a.active {
  background: var(--accent_2);
}

header {
  background: var(--accent);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > #imgLogo {
  height: 65%;
  margin-left: 10px;
}

header > button.hamburger {
  background: var(--accent);
  padding: 0;
  margin-right: 10px;
  height: 60%;
}

header > button.hamburger > img {
  position: relative;
  height: 100%;
}

/* MOBILE VIEW */

@media only screen and (max-width: 1000px) {
  header, #navigation {
    width: 100%;
  }

  main {
    margin-top: var(--header-height);
  }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 1001px) {
  header, #navigation {
    width: var(--header-width-mobile);
  }

  header > button.hamburger {
    display: none;
  }

  #navigation {
    /* disable popover */
    display: block;
    /* for some reason when I use `bottom: 0` it becomes auto-sized with big white gaps */
    height: calc(100% - var(--header-height));
  }

  main, footer {
    margin-left: var(--header-width-mobile);
  }
}
