/* Navbar */

hr.navHR {
  margin-left: 10px;
  margin-right: 10px;
}

nav.mainNav {
  background: var(--accent);
  position: fixed;
  left: 0;
  top: 45px;
  font-size: 11pt;
  overflow: hidden;
  white-space: nowrap;
  z-index: 100;
}

nav.mainNav a {
  color: var(--accent_foreground);
  background: var(--accent_1);
  border-radius: 10px;
  display: block;
  margin: 10px 8px 10px 8px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s;
  overflow: hidden;
}

nav.mainNav a:hover {
  text-decoration: none;
  background: var(--accent_2);
}

nav.mainNav a.active {
  background: var(--accent_2);
}

header {
  background: var(--accent);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  anchor-name: --header
}

#imgLogo {
  height: 65%;
  margin-left: 10px;
}

header > button.hamburger {
  background: var(--accent);
  padding: 0;
  margin-right: 10px;
  height: 60%;
}

header > button.hamburger > img {
  position: relative;
  height: 100%;
}

#nav-topbar {
  right: 0;
  inset: auto;
  margin: auto;
  position: fixed;
  position-anchor: --header;
  top: anchor(bottom);
  width: 100%;
  border-width: 0;
}

#nav-sidebar {
  bottom: 0;
  width: 250px;
}

/* MOBILE VIEW */

@media only screen and (max-width: 1000px) {
  header {
    width: 100%;
  }

  #nav-sidebar {
    display: none;
  }

  main {
    /* Header element height + 2*element padding */
    margin-top: 45px;
  }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 1001px) {
  header {
    width: 250px;
  }

  header > button.hamburger {
    display: none;
  }

  #nav-topbar {
    display: none;
  }

  main {
    margin-left: 250px;
  }

  footer {
    margin-left: 250px;
  }
}
