<footer
  style="text-align:center; font-size:8pt; color:#aaa; border-top:1px solid #ddd; padding-top:10px;"
>
  <span>
    You are receiving this email because you have an account
    on the {{ getRelativeHyperlink("Unity HPC Platform", "/") | raw }}.
    If you would like to stop receiving these emails,
    you may disable your account on the {{ getRelativeHyperlink("account settings page", "panel/account.php") | raw }}.
  </span>
</footer>
