{% do setSubject('Request Submitted') %}

<p>Hello,</p>

<p>You have requested to join the group {{ group }}.</p>

<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>
{{ include('footer.html.twig') }}
