{% do setSubject("Unity PI Membership Request Cancelled: '" ~ uid ~ "'") %}
<p>Hello,</p>
<p>The user '{{ uid }}' has cancelled their request to join your PI group.</p>
{% include 'footer.html.twig' %}
