{% do setSubject("Group Request Approved") %}

<p>Hello,</p>

<p>You have been approved to join the PI group {{ group }}.
Navigate to the {{ getRelativeHyperlink("my groups", "panel/groups.php") }}
page to see your PI groups.</p>

<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>
{% include 'footer.html.twig' %}
