name: docker-compose-phpunit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  docker-compose-phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build docker-compose images with cache
        run: |
          docker buildx build \
            --tag identity \
            --cache-from type=gha \
            --cache-to type=gha,mode=max \
            --load \
            ./tools/docker-dev/identity

          docker buildx build \
            --tag sql \
            --cache-from type=gha \
            --cache-to type=gha,mode=max \
            --load \
            ./tools/docker-dev/sql

          docker buildx build \
            --tag web \
            --cache-from type=gha \
            --cache-to type=gha,mode=max \
            --load \
            ./tools/docker-dev/web
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          tools: composer
      - run: composer install --dev
      - uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./tools/docker-dev/docker-compose.yml"
      - run: docker compose -f ./tools/docker-dev/docker-compose.yml exec -w '/var/www/unity-web-portal' web bash -c 'XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-clover="$(mktemp --suffix=.xml)" -d --min-coverage=./coverage.php'
